/* this home-page css is also showing up on /login path */

.home-page {
  position: relative;
  height: 100vh;
  width: 100%;

  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgb(83, 46, 126)
    ),
    url('../../store.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-landing {
  margin-top: -300px;
}
