/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  background: #000000;
  background: -webkit-linear-gradient(to right, #000000, #000000);
  background: linear-gradient(to right, #000000, #000000);
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding: 20px;
}

@media (max-width: 600px) {
  .navbar {
    font-size: 2.5vw;
  }
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Old Navbar specs */

/* nav {
  background: #000000;
  background: -webkit-linear-gradient(to right, #000000, #000000);
  background: linear-gradient(to right, #000000, #000000);
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
} */

.main-logo {
  /* margin-top: 10px; */
  width: 150px;
}
@media (max-width: 600px) {
  .main-logo {
    width: 75px;
    float: left;
  }
}
