body {
  /* background-color: rgba(83, 46, 126, 0.349); */
  /* background-color: white; */
  animation: slide 10s infinite;
}

@keyframes slide {
  0% {
    background-color: rgba(83, 46, 126, 0.425);
  }
  50% {
    background-color: rgba(83, 46, 126, 0.76);
  }
  100% {
    background-color: rgba(83, 46, 126, 0.418);
  }
}

.home-page {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgb(83, 46, 126)
    ),
    url("../../store.jpg");
  /* background-blend-mode: overlay; */
  /* filter: blur(8px);
    -webkit-filter: blur(8px); */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
